/*For the whole Pages*/
* { margin: 0px; padding: 0px; }
body { min-width: 1400px; overflow-x: hidden; }
html, body { max-width: 100%; overscroll-behavior: none; }
#main-content { flex: 1; }
.highlight { outline: 3px solid yellow; background-color: #fff8b3;
}

/*Navigation Bar*/
.navbar { min-width: 1400px; background-color: #ffffff; padding: 10px 0; height: 50px; display: grid; grid-template-columns: 1fr auto 1fr; align-items: center; flex-shrink: 0; font-size: 22px; font-family: Cambria; font-weight: bold; position: sticky; z-index: 9999; top: 0; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35); padding: 10px 0; top: 0; transition: padding 0.3s ease, box-shadow 0.3s ease; }
.navbar img { height: 30px; }
.navbar.big { padding: 20px 0; height: 50px; }
.navbar.shrink { padding: 5px 0; height: 55px; transition: 0.3s ease}
.navbar, .navbar * { transition: 0.3s ease; align-items: center; }
.navbar, .nav-links { align-items: center; }
.navbar.shrink img { height: 50px; }
.navbar a { font-weight: 500; text-decoration: none; padding: 0 25px; transition: 0.3s; }
.navbar a:hover { color: #620000; }
.nav-links { display: flex; justify-content: center; gap: 80px; } 
.nav-links a { display: inline-block; width: 120px; text-decoration: none; color: #000000; font-size: 22px; font-family: arial narrow; color: #c40000; transition: 0.3s; text-align: center; }
.nav-links a:hover { color: #620000; }
.nav-left { display: flex; justify-content: flex-start; padding-left: 20px; } 
.nav-right { display: flex; align-items: center; padding-right: 20px; }

/*Search Bar*/
.search-container { position: relative; left: 80px; width: 150px; }
.search-input { height: 35px; border: 2px solid #c40000; border-radius: 10px; padding-left: 40px; font-size: 16px; outline: none; width: 100%; }
.search-input::placeholder { color: #c40000; opacity: 0.6; }
.search-icon i { position: absolute; left: 12px; top: 50%; font-size: 16px; color: #c40000; transform: translateY(-50%); font-size: 18px; pointer-events: none; }

/*Logo*/
.logo { height: 45px; }
.logo-link img { height: 50px; }
.logo-link { flex-shrink: 0; }

/*Header*/
.header-image { width: 100%; height: 100vh; position: relative; background-image: url("group pic.jpg"); background-repeat: no-repeat; background-size: cover;   background-color: rgba(0, 0, 0, 0.40); }
.header-image::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.205); z-index: 1; }

/*Overlay*/
.overlay { width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; text-align: center; z-index: 2; }

/*H1 of Header*/
.header-h1 { font-size: 60px; color:#ffffff; font-family: sans-serif; text-align: center; font-weight: 800; line-height: 60px; text-shadow: 2px 2px 4px #00000028; }

/*h2 of Header*/
.header-h2 { font-size: 40px; color: #ffffff; font-family: arial narrow; font-weight: bold; text-align: center; }

/*For general h2*/
h1 { font-size: 45px; color:#c40000; font-family: sans-serif; text-align: left; text-shadow: 2px 2px 4px #00000028; width: 100%; }

/*For general h2*/
h2 { font-size: 40px; color: #c40000; font-family: Cambria; font-style: bold; text-align: left; }

/*For general p*/
p { text-align: justify; color: #000000; font-family: Verdana; }

/*For hr*/
hr { border: 5px solid #c40000; margin: 20px auto; min-width: 99.3%; }

/*For first page container*/
.container { display: flex; flex-direction: column; gap: 30px; }

/*For background wrap*/
.bg-wrap { width: 100%; padding: 60px 0 10px 0; background-color: #8e0101; margin: 40px auto 20px auto; } 
.bg-wrap p { text-align: justify; color: #ffffff; font-family: Verdana; margin-bottom: 40px; }
.bg-wrap h2 { font-size: 40px; color: #ffffff; font-family: Cambria; font-style: bold; text-align: left; }

/*For the main*/
body { font-family: sans-serif; margin: 0; color: #000000; }
.site { display: flex; flex-direction: column; min-height: 100vh; }
.top { background: #1f2937; color: white; padding: 16px; text-align: center; }
.main { padding: 24px; max-width: 1100px; margin: 0 auto; width: 100%; }
.description { flex: 3; background: #f5e2e2; padding: 30px; margin-bottom: 10px; border-radius: 8px; box-shadow: 0 1px 4px rgba(107, 5, 5, 0.06);  flex-shrink: 0;}
.sidebar { flex: 1; background: #f1f5f9; padding: 18px; border-radius: 8px; min-width: 220px; }
footer { text-align: center; padding: 12px; background: #f8fafc; }
nav a { color: #cbd5e1; text-decoration: none; margin: 0 8px; }
@media (max-width: 860px) { .main { flex-direction: column; } }

/*For content box*/
.content-box { max-width: 1100px; margin: 0 auto; margin-bottom: 20px; }
.content-box h2 { margin-top: 10px; margin-bottom: 10px; }

/*For ul*/
ul { margin: 10px 0 20px 20px; padding-left: 20px; color: #ffffff; font-family: Verdana; margin-top: 20px; margin-bottom: 70px; }

/*For li*/
li { margin-bottom: 6px; color: #ffffff; font-family: Verdana; }

/*Footer*/
footer { background: #ffffff; color: #c40000; text-align: center; padding: 10px; font-family: Cambria; font-weight: bold; border-top: 3px solid #c40000; height: 25px; min-width: 1200px; margin-top: auto; }

/*Second Page*/
.card { width: 500px; min-height: 600px; background: #ffffff; border: 1px solid #333; border-radius: 10px; overflow: hidden; margin: 0 0 60px; box-shadow: 0 4px 8px rgba(0,0,0,0.15); }
.card-wrapper { display: flex; flex-wrap: wrap; justify-content: center; gap: 70px; margin-top: 40px; }
.card-header { height: 70px; background: linear-gradient(to right, #bd0000, #3a2a2a); }
.image-container { padding: 20px; display: flex; justify-content: center; aspect-ratio: 971 / 456; }
.image-container img { width: 80%; height: auto; border: 2px solid #000; transition: transform 0.3s ease; object-fit: cover;}
.image-container img:hover { transform: scale(1.05); }
.card-description { padding: 15px 60px; font-size: 14px; color: #333; }
.title { width: 100%; font-size: 50px; color: #8e0101; font-family: Cambria; margin: 60px auto; text-align: center;}
.card { animation: fadeSlideUp 0.9s ease-out; transition: transform 0.3s ease, box-shadow 0.3s ease; }
.card:hover { box-shadow: 0 8px 16px rgba(0,0,0,0.25); }
@keyframes fadeSlideUp { 0% { opacity: 0; transform: translateY(30px); } 100% { opacity: 1; transform: translateY(0); } }
/*End of Second Page*/

/*For Third Page*/
.group-gallery { max-width: 1100px; margin: 60px auto; padding: 0 20px; }
.gallery-title { font-size: 50px; color: #ffffff; font-family: Cambria; margin-bottom: 0; text-align: center;}
.group-card { margin-bottom: 50px; background: #ffffff; padding: 20px; border-radius: 14px; box-shadow: 0 10px 30px rgba(0,0,0,0.15); transition: transform 0.3s; margin-bottom: 90px;}
.group-card:hover { transform: translateY(-5px); }
.group-card img { width: 100%; height: 450px; object-fit: cover; border-radius: 12px; }
.group-card p { text-align: center; margin-top: 15px; font-size: 20px; font-family: Cambria; font-weight: bold; color: #620000; }
.activities-page .navbar { margin-bottom: 0; }
.activities-page .tbg-wrap { background-color: #8e0101; padding: 40px 20px; display: flex; justify-content: center; align-items: center;}

/*For JS*/
.results-container { padding: 40px; font-family: Arial, sans-serif;}
.results-container h1 { font-size: 32px; color: #900; }
.result-card { width: 650px; display: block; background: #ffecec; border-left: 6px solid #c00; padding: 15px 20px; margin: 15px 0; border-radius: 8px; text-decoration: none; transition: 0.25s; }
.result-card:hover { background: #ffdede; transform: translateX(5px); }
.checkmark { color: green; font-size: 20px; margin-right: 8px; }
.keyword { font-weight: bold; color: #b30000; }
.page-label { display: block; font-size: 13px; color: #333; margin-top: 5px; }
.highlighted-word { background: yellow; padding: 2px 5px; }